{% extends "base/base.twig" %}

{% block title %}CESEA - Recherche de Stage{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="/static/css/offers.css">
{% endblock %}

{% block content %}
<content>
    <form action="/search" method="get" accept-charset="utf-8">
        <input type="search" name="search" placeholder="Recherchez parmis {{ offers_number }} offres">
        <input type="submit" value="RECHERCHER">
    </form>
</content>
<content>
    {% if match >= 0 %}
        <p>
            Pas de résultat trouvé.
        </p>
    {% else %}
        {% for i in offers %}
            <p>
                {{ i.id }}<br>
                {{ i.starting }}<br>
                {{ i.ending }}<br>
                {{ i.posted }}<br>
                {{ i.type }}<br>
                {{ i.status }}<br>
                {{ i.company }}<br>
                {{ i.description }}<br>
            </p>
        {% endfor %}
    {% endif %}
</content>
{% endblock %}
