{% extends "base/base.twig" %}

{% block title %}CESEA - Recherche de Stage{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}
<content>
    <form action="/search" method="get" accept-charset="utf-8">
        <input type="search" name="search" placeholder="Recherchez parmis {{ offers_number }} offres" value="{{ search}}">
        <input type="submit" value="RECHERCHER">
    </form>
</content>
<content id="results">
    {% if match <= 0 %}
        <div>
            Pas de résultat trouvé.
        </div>
    {% else %}
        {% for i in offers %}
            <div>
                <h3>{{ i.OfferTitle }}</h3>
                <span class="label {{ i.OfferType }}">{{ i.OfferType }}</span>
                <img src="{{ i.CompanyLogo }}" alt="Logo de {{ i.CompanyName }}">
                <span>Du {{ i.OfferStarting }} au {{ i.OfferEnding }}</span>
                <span>Posté le : {{ i.OfferPosted }}</span>
                <span>Description :</span>
                <div>
                    {{ i.OfferDescription }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</content>
{% endblock %}
