{% extends "base/base.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin/company.css">
{% endblock %}

{% block content %}
<content>
    <table>
        <caption>Liste des entreprises</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for i in company %}
                <tr>
                    <td><a href="/admin/company?edit={{ i.CompanyName }}">{{ i.CompanyId }}</a></td>
                    <td><a href="/admin/company?edit={{ i.CompanyName }}">{{ i.CompanyName }}</a></td>
                    <td><a href="/admin/company?edit={{ i.CompanyName }}">{{ i.CompanyEnabled }}</a></td>
                    <td><a href="/admin/company?edit={{ i.CompanyName }}">{{ i.CompanyDescription[:40] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</content>
{% endblock %}
