{% extends "base/base.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin/users.css">
{% endblock %}

{% block content %}
<content>
    <table>
        <caption>Liste des utilisateurs</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Activé</th>
                <th>Entreprise</th>
                <th>Groupes</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for i in users %}
                <tr>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserId }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserName }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserLastName }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserUsername }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserEmail }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserEnabled }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.company }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.groop }}</a></td>
                    <td><a href="/admin/users?edit={{ i.UserUsername }}">{{ i.UserDescription[:20] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</content>
{% endblock %}
